# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ThirdPersonGameSystems.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\johnh\Documents\GitHub\ThirdPersonGameSystems\.idea\.idea.ThirdPersonGameSystems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
